<!doctype html>
<title>MAPS.ME OSM Changes Browser</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
<h1>OSM Edits Made With MAPS.ME</h1>
<div id="stats">
  <h2>Statistics</h2>
  <ul>
    <li>Total: {{ stats.total }}</li>
    <li>Created: {{ stats.created }}</li>
    <li>Deleted: {{ stats.deleted }}</li>
    <li>Modified: {{ stats.modified }}</li>
    <li>Anomalies: {{ stats.anomalies }}</li>
    <li>Nodes: {{ stats.nodes }}</li>
    <li>Ways: {{ stats.ways }}</li>
    <li>Relations: {{stats.relations }}</li>
  </ul>
</div>
<div>
  <h2>Top Users</h2>
  <ol>
    {% for user in users %}
    {% if params.user %}
    <li>{{ user.user }} ({{user.count}}) <a href="{{ purl(params, user=None) }}">X</a></li>
    {% else %}
    <li><a href="{{ purl(params, user=user.user) }}">{{ user.user }}</a> ({{user.count}})</li>
    {% endif %}
    {% endfor %}
  </ol>
</div>
<div>
  <h2>Top Main Tags</h2>
  <ol>
    {% for tag in tags %}
    <li>{{ tag.main_tag }} ({{tag.count}})</li>
    {% endfor %}
  </ol>
</div>
<div>
  <h2>Versions</h2>
  <ol>
    {% for v in versions %}
    <li>{{ v.version }} ({{v.count}})</li>
    {% endfor %}
  </ol>
</div>
<div>
  <h2>Changes</h2>
  {% for change in changes %}
  <div class="change">
    <a href="https://www.openstreetmap.org/user/{{ change.user }}">{{ change.user }}</a> at {{ change.timestamp }} in <a href="https://www.openstreetmap.org/changeset/{{ change.changeset }}">{{ change.changeset }}</a>: {{ change.main_tag }}
    <table>
      {% set coord = change.changed_coord() %}
      {% if coord %}
      <tr class="create"><td>coord</td><td>{{ coord[0] }}</td><td>{{ coord[1] }}</td></tr>
      {% endif %}
      {% for key, value in change.changed_tags().iteritems() %}
      <tr class="{{ value[2] }}"><td>{{ key }}</td><td>{{ value[0] or '' }}</td><td>{{ value[1] or '' }}</td></tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
  {% if params.page > 1 %}<a href="{{ purl(params, page=params.page-1) }}">&laquo; Newer</a>{% else %}&laquo; Newer{% endif %}
  {% if params.page < stats.pages  %}<a href="{{ purl(params, page=params.page+1) }}">Older &raquo;</a>{% else %}Older &raquo;{% endif %}
</div>
