body {
  font-family: sans-serif;
  font-size: 11pt;
}

.change {
  margin-bottom: 1em;
}

.change table {
  margin-left: 3em;
  font-size: 10pt;
}

tr.create {
  background-color: lightgreen;
}

tr.delete {
  background-color: pink;
}

tr.modify {
  background-color: yellow;
}

tr.nothing {
  font-size: 8pt;
  font-style: italic;
}

#filterbar {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.filter {
  display: inline-block;
  margin: 1em 1em 0 0;
  vertical-align: top;
}

h2 {
  font-size: 12pt;
}

h1 a {
  text-decoration: none;
  color: black;
}

.download {
  margin-top: 2em;
}
