<!doctype html>
<title>MAPS.ME OSM Changes Browser</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
<h1><a href="{{ url_for('the_one_and_only_page') }}">OSM Edits Made With MAPS.ME</a></h1>
<div id="filterbar">
    {{ filters | safe }}
</div>
<div>
  <h2>Changes</h2>
  {% for change in changes %}
  <div class="change">
    <input type="checkbox" class="obj_check" value="{{ change.obj_type }}{{ change.obj_id }},{{ change.id }}">
    <a href="https://www.openstreetmap.org/user/{{ change.user }}">{{ change.user }}</a><sup><a href="{{ purl(params, user=change.user, clear=True) }}">&#9875;</a></sup> at {{ change.timestamp.strftime('%d.%m.%Y %H:%M') }} in
    {% if change.action == 'n' %}
    <a href="https://www.openstreetmap.org/note/{{ change.changeset }}">{{ change.changeset }}</a>: {{ change.explain_action() }}
    {% else %}
    <a href="https://www.openstreetmap.org/changeset/{{ change.changeset }}">{{ change.changeset }}</a><sup><a href="{{ purl(params, changeset=change.changeset, clear=True) }}">&#9875;</a></sup>: {{ change.explain_action() }}
    {% endif %}
    {% if change.obj_type %}
    <a href="https://www.openstreetmap.org/{{ {'n':'node', 'w':'way', 'r':'relation'}[change.obj_type] }}/{{ change.obj_id }}">{{ change.main_tag or '' }}</a>
    <sup>
      <a href="http://127.0.0.1:8111/load_object?objects={{ change.obj_type }}{{ change.obj_id }}" target="josmframe">JOSM</a>
      <a href="http://level0.osmz.ru/?url={{ change.obj_type }}{{ change.obj_id }}!" target="level0">Level0</a>
    </sup>
    {% endif %}
    <table>
      {% for key, value in change.changed_tags().iteritems() %}
      <tr class="{{ value[2] }}"><td>{{ key }}</td><td>{{ '' if value[0] == value[1] else (value[0] or '') }}</td><td>{{ value[1] or '' }}</td></tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
  <div class="navigation">
    {% if params.page > 1 %}<a href="{{ purl(params, page=1) }}">&laquo; First</a>{% else %}&laquo; First{% endif %}
    {% if params.page > 1 %}<a href="{{ purl(params, page=params.page-1) }}">&laquo; Newer</a>{% else %}&laquo; Newer{% endif %}
    {% if params.page < pages  %}<a href="{{ purl(params, page=params.page+1) }}">Older &raquo;</a>{% else %}Older &raquo;{% endif %}
  </div>
  <div class="download">
    <a href="{{ purl(params, export=1) }}">Download GeoJSON</a>
  </div>
  <div id="selected">
    With selected changes:
    <button onclick="btnClear()">Clear</button>
    <button onclick="btnLevel0()">Open in Level0</button>
    {% if has_revert %}
    <button onclick="btnRevert('{{ url_for('revert') }}')">Revert</button>
    {% endif %}
  </div>
</div>
<iframe height="0" width="0" name="josmframe" style="visibility:hidden; display:none;" src="about:blank"></iframe>
<script type="text/javascript" src="{{ url_for('static', filename='bulk.js') }}"></script>
